sudo: required
dist: trusty
language: bash

services:
  - docker

env:
  global:
    - COMPOSE_VERSION=1.7.1

before_install:
  - sudo rm -f /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

script:
  - sudo service docker restart
  - docker-compose -v
  - docker info
  - make buildtest
  - docker images
